@font-face {
	font-family: 'Pixeloid Mono';
	src: url(../fonts/PixeloidMono.woff2) format('woff2'),
	url(../fonts/PixeloidMono.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}